.header {
  position: fixed;
  left: 0;
  width: 100%;
  padding: 10px;
  background-color: rgb(8, 47, 63);
}
.nav {
  padding: 10px;
  display: flex;
  justify-content: space-between;
  &__title {
    color: rgb(219, 211, 211);
  }
  &__list {
    display: flex;

    &__li {
      margin-right: 30px;

      &__link {
        color: rgb(173, 167, 167);

        &:hover {
          border-bottom: 1px solid rgb(0, 195, 255);
        }
        &--active {
          padding-bottom: 5px;
          color: #fff;
        }
      }
    }
  }
}
