<div class="wrapper">
  <form (ngSubmit)="onSubmit()" #form="ngForm" class="form">
    <h2 class="form__title">PLEASE REGISTER TO JOIN</h2>
    <div class="form-wrapper" #formData="ngModelGroup" ngModelGroup="formData">
      <div class="form__spinner">
        <app-spinner [showLoading]="loading"></app-spinner>
      </div>
      <span *ngIf="userAlreadyRegistered" class="form__user-exits"
        >User with email {{ userEmail }} is already exits</span
      >
      <div class="form__group">
        <label for="name">Enter Name</label>
        <input
          type="text"
          placeholder="Enter Name"
          id="name"
          class="form__group__input"
          ngModel
          name="username"
          required
          minlength="4"
          maxlength="10"
          #name="ngModel"
        />
        <span
          [ngStyle]="{
            visibility:
              !name.valid && name.touched && name.viewModel
                ? 'visible'
                : 'hidden'
          }"
          class="form-help"
          >username should contain min 4 and max 10 characters</span
        >
      </div>
      <div class="form__group">
        <label for="email">Enter Email</label>
        <input
          type="email"
          placeholder="Enter Email"
          id="email"
          class="form__group__input"
          ngModel
          name="email"
          required
          email
          #email="ngModel"
        />
        <span
          class="form-help"
          [ngStyle]="{
            visibility:
              !email.valid && email.touched && email.viewModel
                ? 'visible'
                : 'hidden'
          }"
          >email is not valid
        </span>
      </div>
      <div class="form__group">
        <label for="password">Enter Password</label>
        <input
          type="password"
          placeholder="Enter Password"
          id="password"
          class="form__group__input"
          ngModel
          name="password"
          required
          minlength="6"
          maxlength="16"
          #password="ngModel"
        />
        <span
          [ngStyle]="{
            visibility:
              !password.valid && password.touched && password.viewModel
                ? 'visible'
                : 'hidden'
          }"
          class="form-help"
          >password should contain min 6 and max 16 letters
        </span>
      </div>
      <div class="form__group">
        <label for="confirmPassword">ConfirmPassword</label>
        <input
          type="password"
          placeholder="Enter confirmPassword"
          id="confirmPassword"
          class="form__group__input"
          ngModel
          name="confirmPassword"
          required
          minlength="6"
          maxlength="16"
          #confirmPassword="ngModel"
          (input)="confirmingPassword($event)"
          [ngStyle]="{
            'border-color':
              confirmPassword.touched && !passwordConfirmed ? 'red' : 'green'
          }"
        />
        <span
          [ngStyle]="{
            visibility:
              !confirmPassword.valid &&
              confirmPassword.touched &&
              confirmPassword.viewModel
                ? 'visible'
                : 'hidden'
          }"
          class="form-help"
          >passwords doesn't match
        </span>
      </div>
      <div class="form__group">
        <label for="confirmPassword"
          >Do you want to gain weight or lose weight?</label
        >
        <select [ngModel]="purpose" name="purpose" class="form__group__input">
          <option value="gain">gain</option>
          <option value="lose">lose</option>
        </select>
      </div>

      <button
        [ngClass]="{
          'form__button--invalid': !form.valid || !passwordConfirmed
        }"
        [disabled]="!form.valid"
        type="submit"
        class="form__button form__button--primary"
      >
        SUBMIT
      </button>
      <span class="form__login"
        >or <a routerLink="/login" class="form__login__color"> Login</a>
      </span>
    </div>
  </form>
</div>
<!-- [disabled]="!form.valid" -->
<!-- [ngClass]="{ 'form__button--invalid': !form.valid }" -->
