.btn__counter--activity {
  background-color: rgb(117, 54, 54);
}
.wrapper {
  position: relative;
}
.weight {
  margin-top: 100px;
}
.activity__counter {
  background-color: darken($color: #ba6053, $amount: 10);
}
