.weight--background {
  background-color: darken($color: rgb(6, 111, 117), $amount: 10);
}
.weight--field {
  background-color: darken($color: rgb(6, 111, 117), $amount: 10);
  &:hover {
    background-color: darken($color: rgb(6, 111, 117), $amount: 5);
  }
}
.title {
  display: flex;
  background-color: darken($color: rgb(6, 111, 117), $amount: 10);
  width: 100%;
  text-align: center;
  justify-content: center;
}
