.history-wrapper {
}
.history {
  background-color: rgb(20, 34, 44);
  display: flex;
  flex-direction: column;
  position: relative;
  z-index: 25;
  max-height: 300px;

  overflow: auto;
  &__message {
    text-align: center;
    padding: 20px 0;
    font-size: 20px;
    color: rgb(193, 164, 164);
    @media (max-width: 765px) {
      font-size: 15px;
    }
  }
  &__titles {
    display: flex;
    position: sticky;
    top: 0;
    border-bottom: 1px solid #fff;
    background-color: rgb(20, 34, 44);
    &__title {
      padding: 10px 0;
      flex: 1;
      text-align: center;
      border-left: 1px solid #fff;
      position: relative;
      @media (max-width: 725px) {
        font-size: 13px;
      }
      &__sort {
        position: absolute;
        right: 10px;
        top: 50%;
        transform: translateY(-50%);
        color: rgb(12, 186, 189);
        cursor: pointer;
        @media (max-width: 725px) {
          right: 2px;
        }
      }
    }
  }
  &__items {
    display: flex;

    border-bottom: 1px solid #fff;
    background-color: rgb(3, 50, 61);
    &:hover {
      background-color: lighten($color: rgb(7, 53, 54), $amount: 5);
    }
    &__item {
      flex: 1;
      padding: 10px 0;
      text-align: center;
      border-left: 1px solid #fff;

      @media (max-width: 530px) {
        font-size: 13px;
      }
    }
  }
}
