<div
  class="history-wrapper"
  [ngClass]="{ 'history-wrapper--show': showHistory }"
>
  <div class="history">
    <ul class="history__titles">
      <li class="history__titles__title">
        Date
        <i
          class="fas fa-sort-amount-down history__titles__title__sort"
          (click)="sortByDate()"
        ></i>
      </li>
      <li class="history__titles__title">
        Weight
        <i
          class="fas fa-sort-amount-down history__titles__title__sort"
          (click)="sortByWeight()"
        ></i>
      </li>
      <li class="history__titles__title">
        Meals
        <i
          class="fas fa-sort-amount-down history__titles__title__sort"
          (click)="sortByMeal()"
        ></i>
      </li>
      <li class="history__titles__title">
        Activities
        <i
          class="fas fa-sort-amount-down history__titles__title__sort"
          (click)="sortByActivity()"
        ></i>
      </li>
    </ul>
    <div>
      <h3 *ngIf="histories.length === 0" class="history__message">
        History is Empty
      </h3>
      <ul *ngFor="let history of histories" class="history__items">
        <li class="history__items__item">{{ history.date }}</li>

        <li
          [ngStyle]="{
            color: styleDataOnGainOrLoseWeight(history.weight, desiredWeight)
          }"
          class="history__items__item"
        >
          {{ history.weight }}
        </li>
        <li
          [ngStyle]="{
            color: styleDataOnGainOrLoseWeight(history.meals, desiredMeal)
          }"
          class="history__items__item"
        >
          {{ history.meals ? history.meals : 0 }}
        </li>
        <li
          [ngStyle]="{
            color: styleDataOnGainOrLoseWeight(
              history.activity,
              desiredActivity
            )
          }"
          class="history__items__item"
        >
          {{ history.activity ? history.activity : 0 }}
        </li>
      </ul>
    </div>
  </div>
</div>
