<div class="welcome-background">sdds</div>
<div class="overview">
  <h1 class="overview__title">Welcome to Weight__APP</h1>
  <div class="overview__wrapper">
    <p>
      thanks for choosing our application, app Designed to help you control your
      daily weight, meal and activities in one place. we hope you will enjoy
      with Our Product.
    </p>
    <span class="overview__wrapper__regards"
      >Wish you all the best: "Weight__APP__Team"</span
    >

    <p>
      to use our app please
      <a class="overview__wrapper__login" routerLink="login">login</a> or
      <a class="overview__wrapper__register" routerLink="registration"
        >Register</a
      >
    </p>
  </div>
</div>
