<div class="welcome-background"></div>
<div class="overview">
  <div class="overview__wrapper">
    <h1 class="overview__wrapper__title">Welcome to Weight App</h1>
    <p>
      Thanks for choosing our application, app designed to help you control your
      daily weight, meal and activities in one place. We hope you will enjoy
      with Our Product.
    </p>
    <span class="overview__wrapper__regards"
      >Wish you all the best: "Weight__APP__Team"</span
    >

    <p>
      to use our app please
      <a class="overview__wrapper__login" routerLink="login">Login</a> or
      <a class="overview__wrapper__register" routerLink="registration"
        >Register</a
      >
    </p>
  </div>
</div>
