.overview {
  text-align: center;
  color: rgb(209, 204, 204);

  &__title {
    padding-top: 100px;
  }
  &__wrapper {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background-color: rgb(14, 17, 14, 0.5);
    width: 100%;
    max-width: 500px;
    padding: 20px;
    border-radius: 10px;
    text-align: justify;
    &__login {
      cursor: pointer;
      color: rgb(10, 85, 10);
    }
    &__register {
      cursor: pointer;
      color: rgb(151, 33, 33);
    }

    &__regards {
      display: block;
      font-size: 13px;
      margin: 10px 0;
    }
  }
}
