<div
  class="history-overlay"
  (click)="onHistoryToggle()"
  [ngClass]="{ 'history-overlay--show': showUserHistory }"
></div>
<div #wrapper class="wrapper" [ngClass]="{ 'wrapper--show': loggedIn }">
  <h3 class="dashboard__title">Welcome Back {{ user?.name }}</h3>
  <button class="dashboard__table" (click)="onHistoryToggle()">HISTORY</button>
  <app-history [user]="user" [showHistory]="showUserHistory"></app-history>
  <div class="dashboard">
    <app-dashboard-card
      [desired]="desiredWeight"
      [current]="currentWeight"
      [date]="date"
      [message]="weightMessage"
      [wantsToGainWeight]="wantsToGainWeight"
      [type]="'weight'"
    ></app-dashboard-card>
    <!-- second Card Meal  -->
    <app-dashboard-card
      [className]="'dashboard__card--meal'"
      [desired]="desiredMeal"
      [wantsToGainWeight]="wantsToGainWeight"
      [current]="todayTotalMeal"
      [message]="mealMessage"
      [date]="date"
      [type]="'meal'"
    >
    </app-dashboard-card>

    <!-- third Card Activity  -->
    <app-dashboard-card
      [className]="'dashboard__card--activity'"
      [desired]="desiredActivity"
      [wantsToGainWeight]="wantsToGainWeight"
      [current]="todayTotalActivity"
      [message]="activityMessage"
      [date]="date"
      [type]="'activity'"
    >
    </app-dashboard-card>
  </div>
</div>
