/* You can add global styles to this file, and also import other style files */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
ul {
  list-style: none;
}
a {
  text-decoration: none;
}
html,
body {
  width: 100%;
  height: 100%;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

@mixin primary {
  background-color: #0c6438;
  color: #fff;
}
.form__button {
  padding: 10px;
  margin-top: 10px;
  width: 100%;

  border-radius: 3px;
  border: none;
  cursor: pointer;
  &--primary {
    background-color: #0c6438;
    color: #fff;
  }
  &--invalid {
    background-color: rgb(134, 131, 131);
    cursor: not-allowed;
  }
}

input.ng-touched.ng-invalid {
  border-color: rgb(211, 6, 6);
}
.form-help {
  font-size: 13px;
  color: rgb(133, 32, 32);
}
